@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

body {
    /* Can alternatively define in html {} or :root {} */
    color:;
    background-color:#fafafa;
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: ;
    margin: ;
    padding: ;
}

.App{
    min-height: 100vh;
    display: flex;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
}
